@import url(./__left/video__left.css);
@import url(./__right/video__right.css);
@import url(./__link/video__link.css);
@import url(./__play/video__play.css);
@import url(./__image/video__image.css);

.video {
  /*border: 1px solid blue;*/
  width: 100%;
  background: #ffffff;
  display: flex;
  box-sizing: border-box;
  padding-top: calc(100% - (100% - (94/1440)*100%));
  padding-bottom: calc(100% - (100% - (95/1440)*100%));
}
