@import url(./__cards/features__cards.css);
@import url(./__card/features__card.css);
@import url(./__image/features__image.css);
@import url(./__card-description/features__card-description.css);
@import url(./__text/features__text.css);
@import url(./__link/features__link.css);

.features {
  width: 100%;
  box-sizing: border-box;
  padding-top: calc(100% - (100% - (63/1440)*100%));
  padding-bottom: calc(100% - (100% - (124/1440)*100%));
  background: #fafafa;
 /* border: 1px solid blue;*/
}
