.video__left {
  box-sizing: border-box;
  /*border: 1px solid blue;*/
  position: relative;
  align-self: center;
  margin-right: 92px;
  /*margin-top: 46px;*/

}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .video__left {
    margin-right: 62px;
  }
}
