.technology__text {
  height: 51px;
  width: 191px;
  margin: 0;
  margin-bottom: 4px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #000000;
}
