@import url(./_place/text_place_video.css);
@import url(./_place/text_place_download.css);
@import url(./_place/text_place_contact.css);

.text {
  max-width: 445px;
  font-family: 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: justify;
  /*border: 1px solid blue;*/
  box-sizing: border-box;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .text {
    max-width: 370px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .text {
    max-width: 288px;
    font-size: 10px;
    line-height: 16px;
  }
}
