.video__play {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  margin: 0;
  /*margin-right: -33px;*/
  background: #ED4C5C;;
  font-family: 'Segoe MDL2 Assets';
  font-size: 18px;
  line-height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  /*border: 1px solid blue;*/
  z-index: 1;
}

.video__play::after {
  content: "\F5B0"
}
