.header__title {
  width: 578px;
  height: 86px;
  margin: 0;
  margin-bottom: 39px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 86px;
  display: flex;
  align-items: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  /*color: black;*/
  z-index: 1;
}
