.contact__item {
  min-height: 60px;
  padding: 0;
  padding-left: 31px;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  border: 1px solid #333333;
  border-radius: 6px;
  font-family: 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.contact__item:focus {
  outline-color: #333333;
  background: #ebe7e7;
}

.contact__item::placeholder {
  font-size: 16px;
  line-height: 19px;
  color: rgba(19, 39, 67, 0.5);
}

.contact__item::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 19px;
  color: rgba(19, 39, 67, 0.5);
}

.contact__item::-moz-placeholder {
  font-size: 16px;
  line-height: 19px;
  color: rgba(19, 39, 67, 0.5);
}

.contact__item::-ms-input-placeholder {
  font-size: 16px;
  line-height: 19px;
  color: rgba(19, 39, 67, 0.5);
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .contact__item {
    min-height: 50px;
  }
}
