@import url(./_place/button_place_header.css);
@import url(./_place/button_place_center.css);
@import url(./_place/button_place_form.css);

.button {
  box-sizing: border-box;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', 'Helvetica Neue', 'Arial', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  /*border: 1px solid blue;*/
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .button {
    font-size: 10px;
    line-height: 14px;
  }
}
