.button_place_center {
  width: 160px;
  height: 50px;
  background: #FFFFFF;
  font-weight: 600;
  color: #ED4C5C;
  z-index: 1;
  cursor: pointer;
}
.button_place_center:hover {
  color: #2f80ed;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .button_place_center {
  width: 100px;
  height: 35px;
  }
}
