.button_place_header {
  width: 100px;
  height: 40px;
  border: 1px solid #FFFFFF;
  font-weight: normal;
  text-align: center;
  color: #FFFFFF;
  background: transparent;
  cursor: pointer;
  /*margin-right: 168px;*/
}

.button_place_header:hover {
  color: #2f80ed;
}
