.contact__item_text_first-name {
  max-width: calc((255/540)*100%);
  margin-right: calc((30/540)*100%);
  margin-bottom: 24px;
}

/* @media screen and (min-width: 1024px) and (max-width: 1279px) {
  .contact__item_text_first-name {
    margin-right: 25px;
  }
} */
